<div id="<%= dom_id list_item %>">
<p>
<%= form_with model: list_item, method: :patch do |form| %>
  <%= form.check_box :status, checked: list_item.status, onchange: 'this.form.submit();' %>
  <strong><%= link_to list_item.name, list_item %></strong>
<% end %>
<strong>Status:</strong>
<%= list_item.status ? "Bought" : "Missing" %>
</p>
  <p>
    <strong>Qty:</strong>
    <%= list_item.qty %>
  </p>

  <% if list_item.store.present? %>
  <p>
    <%= "From: #{list_item.store}" %>
  </p>
<% end %>
<% if list_item.qty.present? %>
  <p>
    <%= "Qty: #{list_item.qty}" %>
  </p>
<% end %>

</div>

