<%= turbo_stream_from "grocery_list_item_#{grocery_list_item.id}" %>

<div id="<%= dom_id(grocery_list_item) %>">
  <p>
    <%= form_with url: toggle_status_grocery_list_item_path(grocery_list_item), method: :patch, local: true do |form| %>
      <%= form.check_box :status, checked: grocery_list_item.status, onchange: 'this.form.submit();' %>
      <strong><%= link_to grocery_list_item.itemname, grocery_list_item %></strong>
    <% end %>

    <strong>Status:</strong>
    <%= grocery_list_item.status ? "Bought" : "Missing" %>
  </p>

  <% if grocery_list_item.store.present? %>
    <p>
      <%= "From: #{grocery_list_item.store}" %>
    </p>
  <% end %>

  <% if grocery_list_item.quantity.present? %>
    <p>
      <%= "Qty: #{grocery_list_item.quantity}" %>
    </p>
  <% end %>
</div>
